.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/*
cluster_folder/*
outputs/By_OMU/*
outputs/By_species/*
outputs/Violaine/*
controls/*
packrat/lib*/
renv/*

# Type of files
*.psd
*.tif
*.tiff
*.ai

# Les enlever les un après les autres du .gitignore jusqu'à ce que ça marche
# Restart le Rproj à chaque changement pour qu'ils soient pris en compte et le dossier scannés à la recherche de changements

input_data/Bioclim/*
input_data/Biogeo_masks/*
input_data/Env_data/*
input_data/HII/wildareas-v3-2009-human-footprint-geotiff/*
input_data/LUH2/*
input_data/MERRA_Clim/5m_mean_00s/*
input_data/SRTM/raw_files/*
input_data/Species_data/*
input_data/Species_data/5/*
input_data/SRTM/*
input_data/WWF_official_teow/*

supplementaries/Ithomiini_distribution_maps/*

maps/*
models/15/*
temp/*